name: Agendamento Testes - PR

on:
  schedule:
    - cron: '0/15 * * * 1-5'

jobs:
  RunTeste:
    runs-on: windows-latest

    steps:
      - name: Clonar o projeto
        uses: actions/checkout@v3

      - name: Instalar Java 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: 'maven'

      - name: Instalar Chrome
        uses: browser-actions/setup-chrome@latest

      - name: Instalar o Chrome Driver
        uses: nanasess/setup-chromedriver@v2
      - run: |
          chromedriver --url-base=/wd/hub &

      - name: Run Test
        run: mvn test -Dtest=RunCucumberTeste -Dbrowser=chrome_ci

      - name: Gerar relatório
        run: mvn cluecumber-report:reporting

      - name: Arquivar relatório
        uses: actions/upload-artifact@v3
        with:
          name: report-testes
          path: '**/formated-report/'

      - name: Enviar notificação Slack - Sucesso
        if: ${{success ()}}
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_COLOR: ${{ job.status }}
          SLACK_ICON: https://www.shutterstock.com/pt/image-vector/whitegreen-checkmark-on-white-background-1769267717
          SLACK_MESSAGE: 'Teste passou com sucesso! :white_check_mark'
          SLACK_TITLE: 'Sucesso na execução de testes Agendados :white_check_mark'
          SLACK_USERNAME: SUCESSO

      - name: Enviar notificação Slack - Falha
        if: ${{failure ()}}
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_COLOR: ${{ job.status }}
          SLACK_ICON: https://www.shutterstock.com/pt/image-vector/vector-close-icon-160199060
          SLACK_MESSAGE: 'Teste Falhou! :fire'
          SLACK_TITLE: 'Falha na execução de testes Agendados :fire'
          SLACK_USERNAME: FALHA
